<reck-header>
  <button logo>
    <img src="./assets/svg/033-grocery.svg" alt="groceries in paper bag logo" />
  </button>
  <span title>{{ title$ | async }}</span>
  <button login (click)="toggleDarkMode()">
    <img src="./assets/svg/028-shopping-basket.svg" alt="show grocery list" />
  </button>
</reck-header>

<div class="side-nav"></div>

<main>
  <router-outlet></router-outlet>
</main>

<reck-footer>
  <div copy>artesgo &copy; {{ year }}</div>
  <div heck>
    <a routerLink="karla">Credits</a>
  </div>
</reck-footer>