@import '~@artesgo/style-utils';

:host {
  display: block;
  font-family: sans-serif;
}

main {
  min-height: 600px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 20px;
}

img {
  width: 24px;
  height: 24px;
}