@use '~@artesgo/style-utils' as utils;

:host {
  display: grid;
  grid-template-rows: utils.spacing(xl) 1fr utils.spacing(xl);
}

main {
  max-width: utils.spacing(xxxxl) * 10;
  margin: 0 auto;
  padding: 0 utils.spacing(m);
  $spacing: utils.spacing(xl) * 2;
  min-height: calc(100vh - #{$spacing});
}

// icon imgs
img {
  width: utils.spacing(m);
  height: utils.spacing(m);
}

reck-footer {
  grid-row-start: 3;
  grid-row-end: 4;
}